body {
  background-color: rgb(255, 255, 255);
  z-index: -10px;
}

body:after {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
  content: url(ocean.png);
} 

h3 {
  color: rgb(0, 0, 0);
  font-family: 'Tangerine', cursive;
  font-size: 150px;
  text-align: center;
  margin-top: 30px;
}

h4 {
  color: rgb(0, 0, 0);
  font-family: 'Tangerine', cursive;
  font-size: 150px;
  text-align: center;
  margin-top: 30px;
}

a {
  cursor: pointer;
}

.header-main {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.header-main-logo {
  width: fit-content;
  height: 100%;
  padding-left: 60px;
  display: flex;
  color: aliceblue;
}

.search-icon {
  position: relative;
  left: 830px;
  z-index: 10;
}

.search-bar {
  position: absolute;
  right: 350px;
  width: 100%;
  max-width: 300px;
  background: rgb(255, 255, 255);
  display: flex;
  border-radius: 60px;
  padding: 5px 20px;
}

.header-main-logo img {
  height: 40px;
  align-self: center;
  color: aliceblue;
}

.header-main-nav {
  width: fit-content;
  height: 100%;
}

.header-main-nav ul {
  list-style: none;
  margin-left: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: aliceblue;
}

.header-main-nav ul li {
  display: inline;
  float: left;
}

.header-main-nav ul li a {
  padding: 0 20px;
  line-height: 60px;
  color: black;
}

.header-main {
  width: 100%;
  height: 60px;
  background-color: rgb(23, 23, 23);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: none;
  align-content: flex-start;
}

.header-main div {
  height: 30px;
}

.userinput-main {
  width: 500px;
  margin: 0 auto;
  border: 10px;
}

textarea {
  width: 100%;
  height: 200px;
  resize: vertical;
}

.image {
  margin-top: 30px;
  width: 10000px;
  height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.button {
  background-color: rgb(217, 153, 27);
  height: 30px;
  width: 220px;
  border: none;
  position: absolute;
  left: 45%;
  right: 43%;
  top: 85%;
  bottom: 20%;
  padding: 20px 50px;
}

.h {
  width: 90%;
  height: 3px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 575px;
  margin-bottom: 50px;
  background-color: black;
}

.button-text {
  position: absolute;
  top: 88%;
  left: 47.9%;
  margin-top: -20px;
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

h5 {
  text-align: left;
}

.flyer {
  position: relative;
  height: 700px;
  left: 90px;
  z-index: -10;
}

p2 {
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 40px;
  margin-left: 90px;
}

p3 {
  color: rgb(0, 0, 0);
  position: relative;
  left: 5%;
  top: 450px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  z-index: 10;
}

.btn {
  color: rgb(255, 255, 255);
  position: relative;
  left: 73.5%;
  top: 380px;
  border: none;
  outline: none;
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
  margin-top: 8px;
  padding: 8px 15px;
  background: rgb(10, 109, 162);
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
}

.cart-icon {
  position:absolute;
  height: 50px;
  bottom: 900px;
}